.getGroup {
    padding: 20px;
}

.group-details {
    margin-bottom: 20px;
}

.group-members {
    list-style-type: none;
    padding: 0;
}

.group-members li {
    margin: 5px 0;
}

.comments-section {
    margin-top: 20px;
}

.comment-bubble {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
    margin-top: 8px;
    max-width: 80%;
    margin: 5px 0;
}

.author-comment {
    background-color: #e8f5e9;
    margin-left: auto;
    text-align: right;
}

.member-comment {
    background-color: #e1f5fe;
    /* background-color: #f1f1f1;  */
    margin-right: auto;
    text-align: left;
}

.comment-text {
    flex: 1;
}

textarea {
    width: 100%;
    margin-top: 8px;
    padding: 8px;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

button + button {
    margin-left: 8px;
}
.member-button{
    display: flex;
    justify-content: flex-end;
}