.getGroupp {
    max-width: 80%;
    margin: 0 auto;
    background-color: rgb(249, 249, 249);
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px;
    font-size: 18px;
}

.group-details {
    text-align: center;
}

.group-details .icon {
    font-size: 50px;
    background-color: rgb(222, 228, 234);
    padding: 6px;
    border-radius: 50%;
}

.group-details .icon:hover {
    background-color: #c0b6b6;
}

.group-members {
    margin-top: 10px;
    text-decoration: none;
    list-style: none;
    text-align: center;
    background-color: rgb(179, 209, 199);
    border-radius: 5px;
}
.comments-section {
    margin-top: 20px;
}

.comment-box.original-comment {
    background-color: #FFF;
    text-align: left;
    align-self: flex-start;
}

.comment-box.reply-comment {
    background-color: #e8f5e9;
    text-align: right;
    align-self: flex-end;
}

.group-adminContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.group-adminCard {
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #888;
}

.group-adminCardContent {
    text-align: center;
}

.group-adminLabel {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

.group-userInfo {
    font-size: 14px;
    color: #555;
}

.loadingText {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #888;
}
