.advanced-profile {
    /* font-family: 'playball' cursive; */
    margin:0 auto;
    max-width: 800px;
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
    margin-bottom: 20px;
    font-size: 16px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

.header h4 {
    font-size: 1.4rem;
    font-weight: 550;
    color: #333;
}

.header button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
}

.header button:hover {
    background-color: #232323;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.advanced-section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.advanced-section strong {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
}

.advanced-section ul {
    list-style-type: none;
    margin-left: 20px;
    font-size: 1rem;
    padding-left: 10px;
}

.advanced-section ul li {
    margin-bottom: 8px;
    background-color: #d9e2ea;
    border-radius: 5px;
    padding: 5px;
}

@media (max-width: 768px) {
    .advanced-profile {
        margin: 10px;
        padding: 15px;
    }

    .header h3 {
        font-size: 1.5rem;
    }

    .header button {
        font-size: 0.9rem;
        padding: 7px 12px;
    }

    .section strong {
        font-size: 1rem;
    }

    ul {
        font-size: 0.9rem;
    }
}
