.card1 {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.spinner {
  /* border: 20px solid #f3f3f3;  */
  border-top: 20px solid #3498db; 
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: #333;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.user-details div {
  margin-bottom: 10px;
  text-align: center;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.iconn {
  font-size: 36px;
  margin-top: -50px;
  color: #52697b;
}

.profiletab {
  background-color: rgb(82, 105, 123);
  padding: 8px;
  border-radius: 7px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.profiletab:hover {
  background-color: rgb(66, 101, 73);
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* .profile-field {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.profile-field strong {
  display: inline-block;
  width: 150px;
  color: #333;
} */

.profile-line {
  display: block;
  padding: 5px;
  border-radius: 3px;
  background-color: #d9e2ea;
  margin-top: 5px;
  width: 100%;
}

.sub-card {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #fafafa;
}
.data-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.download-data{
  background-color: #333;
  border-radius: 7px;
  color: white;
  max-width: 150px; 
  height: auto; 
  text-align: center;
  padding: 7px;
  cursor: pointer;
}
.download-profile{
  background-color: #3975bf;
  border-radius: 7px;
  color: white;
  max-width: 150px;
  height: auto;
  text-align: center;
  padding: 7px;
  cursor: pointer;
}
.linked-decisions{
  background-color: #3975bf;
  border-radius: 7px;
  color: white;
  max-width: 150px;
  height: auto;
  text-align: center;
  padding: 7px;
  cursor: pointer;
  text-decoration: none;
}
.linked-decisions:hover {
  text-decoration: none; 
  color: white;
}
.delete-account{
  background-color: red;
  text-align: center;
  border-radius: 7px;
  color: white;
  padding: 7px;
  height: 40px;
  width: 300px;
  cursor: pointer;
}
.delete-button{
  margin-top: 10px;
}

@media (max-width: 600px) {
  .card1 {
    padding: 15px;
  }

  h3 {
    font-size: 20px;
  }

  .details {
    flex-direction: column;
    align-items: center;
  }

  .iconn {
    font-size: 30px;
    margin-top: 0;
  }

  .profiletab {
    width: 100%;
    margin-top: 10px;
  }

  /* .profile-field strong {
    width: auto;
    display: block;
    margin-bottom: 5px;
  } */

  .profile-line {
    width: 100%;
  }

  .sub-card {
    padding: 10px;
  }
  .data-around {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .delete-account, .download-data, .download-profile, .linked-decisions {
    margin-top: 10px;
    width: 80%;
    text-align: center;
  }
}