.profile-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .profile-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  .profile-title1 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* input[type="text"],
  input[type="date"],
  input[type="radio"] {
    width: 70%;
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
  } */
  .submit-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  .add-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #229326;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
    position:;
  }
  .remove-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ac0806;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  .submit-button:hover {
    background-color: #0056b3;
  }
  .add-button:hover {
    background-color: #08692f;
  }
 .radio-group{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  margin: 0 auto;
 } 
 form label{
  margin-top: 15px;
  font-weight: 500;
 }
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  