.styled-table{
    /* border-collapse: collapse; */
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 900px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.15);
}
.styled-table thead tr{
    background-color: rgb(0, 76, 255);
    color: white;
    text-align: center;
}
.styled-table th,
.styled-table td{
    padding: 10px 15px;
} 
.styled-table tbody tr{
    border-bottom: 1px solid white;
}

.btn{
    border: none;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    display: inline-block;
}
.btn-edit{
    background-color: aqua;
}
.btn-delete{
    background-color: red;
}
.btn-view{
    background-color: rgb(133, 127, 127);
    color: black;
}
.btn-person{
    background-color: #e82764;
    margin-bottom: 10px;
}