.form{
    width: 800px;
    margin: 2rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.input-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
input[type="text"],
input[type="date"],
input[type="datetime-local"],
select{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type='submit'] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
  }
  
  input[type='submit']:hover {
    background-color: #0056b3;
  }
  
.header{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btnn{
    background:rgb(82, 109, 130);
    border: none;
    color: white;
    border-radius: 5px;
    height: 50px;
    max-width: 90px;
    margin:5px;
}
.btnn1{
    background: rgb(82, 109, 130);
    color: white;
    border-radius: 5px;
    height: 50px;
    max-width: 90px;
    margin:5px;
}

.btnn2{
    background: #007BFF;
    color: white;
    border-radius: 5px;
    margin:5px;
    width: 100%;
}
.btnn3{
    background: #4e2206;
    color: white;
    border-radius: 5px;
    margin:5px;
    max-width: 300px;
    /* width: 20%; */
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    margin-bottom: 10px;
}
.tag-item {
    margin-right: 15px;
  }
.tag-label {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 2px;
    margin-top: 10px;

}
.tag-label input {
    margin-right: 5px;
  }
  
.reason-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.reason-item {
    margin-bottom: 5px; 
}
.error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

.header {
    text-align: center;
  }
  
  .form {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group input[type="text"],
  .form-group input[type="date"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btnn,
  .btnn1,
  input[type="submit"],
  input [type="button"] {
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
  }
  
  .btnn1 {
    margin-left: 1rem;
    background-color: #dc3545;
  }
  
  .tag-container {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .tag-item {
    margin: 5px;
  }
  .cancel-button {
    padding: 10px 20px;
    margin: 20px;
    background-color: #f44336; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .cancel-button:hover {
    background-color: #d32f2f; /* Darker red color */
  }
  
  .cancel-button:active {
    transform: scale(0.95);
  }
  
  
  @media (min-width: 600px) {
    .form-group input[type="text"],
    .form-group input[type="date"],
    .btnn,
    .btnn1,
    input[type="submit"] {
      width: 50rem;
    }
  
    .btnn,
    .btnn1,
    input[type="submit"] {
      width: auto;
    }
  }
  
  @media (max-width: 599px) {
    .form-group input[type="text"],
    .form-group input[type="date"],
    .btnn,
    .btnn1,
    input[type="submit"] {
      width: 100%;
    }
  }
  