input[type="text"],
input[type="datetime"],
input[type="datetime-local"],
select{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"]{
    width:50%;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 14px 20px;
    margin: 8px 0;
}
input[type="button"]{
    width: 50%;
    background-color: #40453e;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 14px 20px;
    margin: 8px 0;
}
input[type="submit"]:hover{
    background-color: #08067f;
}
.heading{
    text-align: center;
    font-size:20px ;
}


.styled-table{
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 900px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.15);
}
.styled-table thead tr{
    background-color: rgb(0, 76, 255);
    color: white;
    text-align: center;
}

.styled-table th,
.styled-table td{
    padding: 10px 15px;
} 
.styled-table tbody tr{
    border-bottom: 1px solid white;
}

.btnn{
    border: none;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    display: inline-block;
}
.btn-edit{
    background-color: rgb(84, 173, 173);
}
.btn-delete{
    background-color: red;
}
.btn-view{
    background-color: rgb(133, 127, 127);
    color: black;
}
.btn-person{
    background-color: #e82764;
    margin-bottom: 10px;
}