.form{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.input-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
input[type="text"],
input[type="date"],
input[type="datetime-local"],
select{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"]{
    width:70%;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 14px 20px;
    margin: 8px 0;
}
input[type="submit"]:hover{
    background-color: #08067f;
}
.header{
    text-align: center;
    font-size:20px ;
}
.btnn{
    background:rgb(82, 109, 130);
    border: none;
    color: white;
    border-radius: 5px;
    height: 50px;
    max-width: 90px;
    margin-top:-5px;
}
.btnn1{
    background: rgb(82, 109, 130);
    color: white;
    border-radius: 5px;
    height: 50px;
    max-width: 90px;
}
.tag-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    margin-bottom: 10px;
}
.tag-item {
    margin-right: 15px;
  }
.tag-label {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 2px;
    margin-top: 10px;

}
.tag-label input {
    margin-right: 5px;
  }
  
.reason-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.reason-item {
    margin-bottom: 5px; 
}
.error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  
  