.cards{
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(231, 229, 227);
    padding: 10px;
    border-radius: 30px;
}
.btn-back{
    height: 40px;
    width: 100px;
    border-radius: 5px;
}
.btn-back:hover{
    background-color: burlywood;
}
.card span{
    gap: 10px;
}
.views{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sharebutton{
    font-size: 40px;
}