.trend-chart-container {
    border: 1px solid #ddd;
    border-radius: 0; 
    padding: 10px;
    max-width: 100%;
    margin: auto;
}

.line-Chart{
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #ddd;
}
h4{
  text-align: center;
}

@media screen and (max-width: 768px) {
    .trend-chart-container {
      padding: 5px;
    }
  
    .line-Chart{
      padding: 10px;
    }
    
    .recharts-wrapper {
      width: 100% !important;
      height: auto !important;
    }
}

  