.homepage{
    margin-top: 2rem;
    padding-left: 30px ;
    text-align: center;
}
.card {
    border: 2px solid #ddd; 
    border-radius: 8px; 
    padding: 10px;
  }
  .card-title {
    font-size: 25px;
    /* color: #333; */
  }
  .card-text {
    font-size: 20px;
    font-weight: 700;
  }
  .card-body1{
    background-color: rgb(216, 248, 169);
    border-radius: 10px;
    font-weight: 900;
  }
.card-body2{
    background-color: rgb(247, 242, 158);
    border-radius: 10px;
    font-weight: 800;
}