
.navbar{
  display: flex;
  justify-content:space-between;
  background-color:rgb(13, 13, 237);
  font-size: 20px;
  height: 90px;
  color: white;
}

.image {
  display: flex;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}
.navbar-nav .nav-link.active{
  color: white;
}
.nav-link{
  text-decoration: none;
  color: white;
}
.navbar-brand{
  color: white;
  font-family: sans-serif;
}

