
.navbar{
  display: flex;
  justify-content:space-between;
  background-color:rgb(108, 108, 235);
  font-size: 20px;
  height: 70px;
}

.image {
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
