
.reactions-all-list {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    max-width: fit-content;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reactions-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; 
    gap: 8px;
}

.reactions-li {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #e0e0e0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    min-width: 120px;
}

.remove-reaction-btn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.remove-reaction-btn:hover {
    background-color: darkred;
}

@media (max-width: 700px) {
    .reactions-all-list {
        width: 100%;
        padding: 8px;
    }

    .reactions-ul {
        gap: 5px;
        justify-content: center; /* Center the reactions */
    }

    .reactions-li {
        padding: 4px 8px;
        font-size: 12px;
        min-width: 100px;
    }

    .remove-reaction-btn {
        padding: 4px 8px;
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .reactions-li {
        display: table-column;
        align-items: flex-start;
        gap: 4px;
        min-width: 80px;
    }

    .remove-reaction-btn {
        align-self: flex-end;
    }
}